{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Список игр{% endblock %}

{% block content %}
    <h1>Список игр</h1>
    <p><a href="{% url 'games:create' %}" class="button">Создать игру</a></p>
    
    <!-- Оборачиваем фильтры и список игр в общий контейнер -->
    <div class="game-list-wrapper">
        <div class="filter-container">
          <form method="get" class="filter-form">
              <div class="filter-row">
                  <div class="form-group">
                      <label for="{{ filter_form.sport.id_for_label }}">Спорт</label>
                      {{ filter_form.sport }}
                  </div>
      
                  <div class="form-group">
                      <label for="{{ filter_form.search.id_for_label }}">Поиск</label>
                      {{ filter_form.search }}
                  </div>
      
                  <button type="submit" class="button filter-button">Применить</button>
              </div>
          </form>
        </div>
        
        <div id="game-list" style="overflow:visible;">
            {% include "games/game/list_games.html" %}
        </div>
    </div>

    {% include "pagination.html" with page=games %}
{% endblock %}

{% block domready %}
<!--Прокрутка страницы вниз, чтобы загрузить дополнительные страницы-->
var page = 1;
var emptyPage = false;
var blockRequest = false;

window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 200;
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
        blockRequest = true;
        page += 1;
        
        // Сохраняем текущие параметры фильтрации
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.set('page', page);
        urlParams.set('games_only', '1');
        
        fetch('?' + urlParams.toString())
        .then(response => response.text())
        .then(html => {
            if (html === '') {
                emptyPage = true;
            }
            else {
                var gameList = document.getElementById('game-list');
                gameList.insertAdjacentHTML('beforeEnd', html);
                blockRequest = false;
            }
        })
    }
});

// Launch scroll event
const scrollEvent = new Event('scroll');
window.dispatchEvent(scrollEvent);
{% endblock %}