{% load game_extras thumbnail static %}
{% for game in games %}
    <a href="{{ game.get_absolute_url }}" class="games-list-card text-decoration-none">
        <div class="games-list-card__organizer">
            {% if game.user.profile.photo %}
                <img src="{% thumbnail game.user.profile.photo 48x48 crop %}"
                     alt=""
                     class="games-list-card__avatar">
            {% else %}
                <img src="{% static 'image/jpeg/default-profile-user.jpg' %}"
                     alt=""
                     class="games-list-card__avatar">
            {% endif %}
            <span class="games-list-card__username">{{ game.user.username }}</span>
        </div>
        <div class="games-list-card__details">
            <div class="games-list-card__row">
                <span class="games-list-card__time">
                    <i class="far fa-clock"></i>
                    {{ game.start_time|game_datetime_mobile }}
                </span>
                <div class="games-list-card__meta">
                    <span class="game-status status-{{ game.status }} games-list-card__status">
                        {{ game.status|game_status_label }}
                    </span>
                    <span class="games-list-card__sport-icon" aria-hidden="true">
                        <i class="fas {{ game.sport|sport_icon }}"></i>
                    </span>
                </div>
            </div>
            <div class="games-list-card__place">
                <i class="fas fa-map-marker-alt"></i>
                {{ game.place }}
            </div>
            <div class="games-list-card__attendance">
                <span class="games-list-card__attendance-line"></span>
                <span class="games-list-card__attendance-text">
                    {{ game.joined_players.count }} {{ game.joined_players.count|going_label }}
                </span>
                <span class="games-list-card__attendance-line"></span>
            </div>
        </div>
    </a>
{% endfor %}
