{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  <h1>
  Играй, тренируйся<br>
  и улучшай свои навыки<br>
  <span class="orange-text">в командных видах спорта</span>
  </h1>

  <a href="{% url 'games:create' %}" class="button">Создать игру</a>
  <a href="{% url 'games:ranking' %}" class="button">Рейтинг игр</a>

  <h2>События</h2>
  <div id="action-list">
      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
  </div>
{% endblock %}
