{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load thumbnail %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="{% static 'image/jpeg/logo_jteam_ico.ico' %}" type="image/x-icon"/>
    <!-- icons with fontawesomefree -->
    <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
    <!-- end icons with fontawesomefree -->
     
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="header">
        <span class="logo"><a href="{% url 'dashboard' %}">JTeam</a></span>

        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %} class='selected'{% endif %}>
                    <a href="{% url 'dashboard' %}">Главная</a>
                </li>
                <li {% if section == "games" %} class="selected"{% endif %}>
                    <a href="{% url 'games:list' %}">Список игр</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url 'user_list' %}">Игроки</a>
                </li>
                <li {% if section == "location" %} class="selected"{% endif %}>
                    <a href="{% url 'location:list' %}">Площадки</a>
                </li>
                <li {% if section == "cart" %} class="selected"{% endif %}>
                      {% with total_items=cart|length %}
                        {% if total_items > 0 %}
                          <a href="{% url 'cart:cart_detail' %}">
                              <i class="fas fa-shopping-cart"></i>
                                      {{ total_items }} {{ total_items|pluralize }},
                                      ₽{{ cart.get_total_price }}
                          </a>
                        {% elif not order %}
                            <a href="{% url 'cart:cart_detail' %}">
                           <i class="fas fa-shopping-cart"></i> 0 , ₽0
                            </a>
                        {% endif %}
                      {% endwith %}
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                <div class="user-info">
                    {% if request.user.profile.photo %}
                        <a href="{{ user.get_absolute_url }}">
                            <img src="{% thumbnail request.user.profile.photo 40x40 crop %}" class="user-avatar">
                        </a>
                    {% else %}
                        <img src="{% static 'image/jpeg/default-profile-user.jpg' %}" class="user-avatar" alt="Аватар">
                    {% endif %}
                    <a href="{% url 'user_detail' request.user.username %}" class="profile-link">
                        {{ request.user.first_name|default:request.user.username }}
                    </a>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Выйти</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- скрипт для закладки картинки с других сайтов -->
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var closeButtons = document.querySelectorAll('.close');

        closeButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var message = this.parentNode;
                message.style.display = 'none';
            });
        });
    });
    </script>

    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <!-- Загрузка JavaScript в DOM -->
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM загружена
            {% block domready %}
            {% endblock %}
        })
    </script>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block extra_scripts %}{% endblock %}
    <div id="user-local-time" style="position: fixed; bottom: 10px; right: 10px; padding: 5px 10px; background-color: #f8f9fa; border-radius: 5px;">
    Определение местного времени...
    </div>

    <script src="{% static 'js/local_time.js' %}"></script>
</body>
</html>