{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}People{% endblock %}

{% block content %}
 <h1>Игроки</h1>
 {% include 'account/user/search.html' %}
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
             {% if user.profile.photo %}
                <img src="{% thumbnail user.profile.photo 220x320 %}">
             {% else %}
                 <img src="{{ user.profile.photo }}">
             {% endif %}
        </a>
        <div class="user-overlay"></div>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
          <p>{{ user.profile.city|default:user.username }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}